* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color-Orange: hsl(199, 79%, 47%);
  --color-White: hsl(0, 0%, 100%);
  --color-Light-Grey: hsl(217, 12%, 63%);
  --color-Medium-Grey: hsl(216, 12%, 54%);
  --color-Dark-Blue: hsl(213, 19%, 18%);
  --color-Very-Dark-Blue: hsl(216, 12%, 8%);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, hsl(228, 16%, 6%), hsl(202, 54%, 7%));
  font-family: "Overpass", sans-serif;
}
main {
  padding: 1.6rem 2rem;
  background: linear-gradient(135deg, hsl(228, 22%, 5%), hsl(203, 56%, 11%)) 20%;
  border-radius: 1.8rem;
  max-width: 22rem;
  max-height: 380px;
  box-shadow: 6px 12px 24px 2px rgba(0, 0, 0, 0.3);
}
.ac-front {
  display: none;
}

.icon-s {
  background: var(--color-Dark-Blue);
  padding: 0.8rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.heading-primary {
  font-size: 1.6rem;
  margin-bottom: 0.7rem;
  color: var(--color-White);
}
.list-n {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}
.dis {
  margin-bottom: 1.8rem;
  color: var(--color-Light-Grey);
}
.btn {
  border: none;
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
  color: var(--color-Light-Grey);
  background: var(--color-Dark-Blue);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: -3px -3px 2px 2px rgba(0, 0, 0, 0.3);
}
.ac-btn {
  background: var(--color-Orange);
  color: var(--color-White);
}
.btn:is(:hover, :active) {
  background: var(--color-Orange);
  color: var(--color-White);
}
.btn-s {
  border: none;
  width: 100%;
  height: 2.4rem;
  cursor: pointer;
  color: var(--color-White);
  background: var(--color-Orange);
  border-radius: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.btn-s:is(:hover, :active) {
  color: var(--color-Orange);
  background: var(--color-White);
}
.back-card {
  text-align: center;
}
.ac-back {
  display: none;
}
.img-t {
  margin-bottom: 1.2rem;
}
.text-a {
  text-align: center;
  margin-bottom: 0.5rem;
}
.text {
  font-size: 0.8rem;
  padding: 0.3rem 1.8rem;
  border-radius: 1.2rem;
  background: hsl(213, 19%, 18%);
  color: var(--color-Orange);
  width: 50%;
  text-align: center;
  margin: 0 auto 0.6rem auto;
}
.heading-secondary {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
  color: var(--color-White);
  text-align: center;
}
.btn-t {
  border: none;
  width: 100%;
  height: 2.4rem;
  cursor: pointer;
  color: var(--color-White);
  background: var(--color-Orange);
  border-radius: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.btn-t:is(:hover, :active) {
  color: var(--color-Orange);
  background: var(--color-White);
}
